body {
    background-color: rgb(163, 150, 150);
}

h1 {
    text-align: center;
}

.playerSide {
    float: left;
    margin: 300px 0 0 300px;

    border: 1px solid black;
}

.computerSide {
    float:right;
    margin: 300px 300px 0 0;
    border: 1px solid black;
}