body {
    background-color: rgb(184, 180, 180);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

button {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 400px;
    margin-top: 50px;
}

.playerSide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.computerSide {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    
} 

.result {
    width: 200px;
    text-align: center;
}
